<main>
  <fieldset>
    <legend>Select and Switch - Reactive Form</legend>
    <form [formGroup]="statusForm" (submit)="handleSubmitForm()">
      <app-select
        name="stateSelect"
        [options]="stateOptions"
        placeholder="Selecione um estado"
        formControlName="state"
        [error]="state?.invalid && (state?.touched || state?.dirty)"
      />
      <div>
        <strong>Valor selecionado: {{ statusForm.value.state }}</strong>
      </div>
      <app-switch formControlName="active" />
      <div>
        <strong>Valor selecionado: {{ statusForm.value.active }}</strong>
      </div>
      <button type="submit">Enviar</button>
      {{ submittedReactiveFormValues | json }}
    </form>
  </fieldset>
  <fieldset>
    <legend>Select - ngModel</legend>
    <app-select
      [(ngModel)]="genre"
      name="genreSelect"
      [options]="genreOptions"
      placeholder="Selecione um gênero"
      [disabled]="disabled"
    />
    {{ genre }}
  </fieldset>
  <fieldset>
    <legend>Switch - ngModel</legend>
    <app-switch [(ngModel)]="autoPlay" [disabled]="disabled" />
    {{ autoPlay }}
  </fieldset>
  <fieldset>
    <legend>Switch - Event</legend>
    <app-switch
      (checkedChange)="handleRandomOrdemChange($event)"
      [disabled]="disabled"
    />
    {{ randomOrder }}
  </fieldset>
  <button (click)="toggleDisabled()" type="button">Toggle disabled</button>
</main>
<router-outlet />
